node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# react-native dotenv environment variables file
.env
.env.test

# Environment variable for Google Cloud
app.yaml
.gcloudignore